<div class="<%= post.class %>">
    <h1 class="titel"><%=post.title %></h1>
    <address class="author"><%=post.author %></address>
    <date class="date"><%=post.date %></date>
    <img src="<%=post.img %>" alt="">
    <a class="link" href="/art/<%=index %>">more information...</a>
</div>